<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="H2_JDBC" class="com.tersesystems.logback.jdbc.JDBCAppender">
        <driver>org.h2.Driver</driver>
        <url>jdbc:h2:file:./tmp/testdb</url>
        <username>sa</username>
        <password>password</password>

        <createStatements>
            CREATE TABLE IF NOT EXISTS events (
            ID INT PRIMARY KEY AUTO_INCREMENT,
            ts TIMESTAMP NOT NULL,
            tse_ms numeric NOT NULL,
            start_ms numeric NULL,
            level_value int NOT NULL,
            level VARCHAR(7) NOT NULL,
            evt JSON NOT NULL
            );
        </createStatements>
        <insertStatement>insert into events(ts, tse_ms, start_ms, level_value, level, evt) values(?, ?, ?, ?, ?, ?)</insertStatement>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="H2_JDBC" />
    </root>
</configuration>